.OpeningScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial";
  text-align: center;
}
.logo {
  margin-top:10%;
  display: flex;
  width: 35vw;
  height: 35vw;
}
.head {
  margin:15%;
  display: flex;
  color: #1e90ff;
  font-size: 6vw;
  font-weight: bold;
}
.loginArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameInput {
  margin-top:25%;
  display: flex;
  border: none;
  border-bottom: 0.6vw solid darkgray;
  font-size: 4vw;
}
.emailInput {
  margin-top:35%;
  
  display: flex;
  border: none;
  border-bottom: 0.6vw solid darkgray;
  font-size: 4vw;
}
.nameInput:focus {
  border: none;
  border-bottom: 0.6vw solid darkgray;
  outline: none;
}
.emailInput:focus {
  border: none;
  border-bottom: 0.6vw solid darkgray;
  outline: none;
}
.registerButton {
  margin-top:48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  width: 45vw;
  height: 45vw;
  box-shadow: 0px 0.8vw 1.5vw gray;
  border-radius: 1.5vw;
}
.registerButton:active {
  background-color: #cde4fd;
  box-shadow: none;
}
.registerButton:focus {
  background-color: white;
}
.registerButton:hover {
  background-color: #cde4fd;
}
.imgButton {
  display: flex;
  align-self:center;
  outline: none;
  width:15vw;
  height: 15vw;
  margin-top:15%;
}
.textButton {
  display: flex;
  color: rgb(61, 61, 61);
  font-size: 4.5vw;
  font-weight: bold;
  margin-top:20%;
}
.error{
  display: flex;
  font-weight: bold;
  color:red;
  margin-top:10%;
}
