
.RegisterByDate{
    /* max-width: 500px;
    margin: auto;
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    display: flex;*/
    align-Self:center;
    justify-content: center;
    justify-content:flex-start;
    align-Items:center;
    display:flex;
    -ms-flex-align: center;
}
.upperArea{ 
display: flexbox;
position: absolute;
width: 375px;
height: 83px;
/* left:50%; */
top: 0px;
align-Self:center;
 justify-content:center;
align-Items:center;
position:absolute;
/* Backgrounds / Not Chat */

background: #FFFFFF;
/* Header shadow */

box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.12);
}
.headline{
    /* Title */
position: absolute;
width: 255px;
height: 58px;
/* left: 60px; */
top: 26px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
align-items: center;
align-self: center;
/* or 19px */

text-align: center;

/* Text / General */

color: #00406B;
}
.Arrow{
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(20px);
    top: calc(50% - 16px/2 + 0.5px);
}
      
 .howManyArea{
/* Rectangle 2 */
position: absolute;
width:280px;
height:124px;
/* left:100px; */
top: 350px;
align-self: center;
align-items: center;

/* Gray 6 */
background: #F2F2F2;
border-radius: 4px;
 }
 .lowerArea{
position: absolute;
width: 349px;
height: 124px;
/* left: 15px; */
top: 387px;
align-self: center;
align-items: center;

 }
 .attendance{
     /* See who registered */


position: absolute;
width: 153px;
height: 22px;
left: 36px;
top: 80px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */


/* Backgrounds / Chat */

color: #2B8FFF;
 }
 .continue{
    position: static;
    width: 94px;
    top: 9px;
    bottom: 9px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */
display: flex;
align-items: center;
text-align: center;
/* Text/Over Action */

color: #FFFFFF;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 30px;

position: absolute;
width: 155px;
height: 40px;
left: calc(50% - 155px/2 - 3px);
top:120px;

/* General / Action */

background: #2B8FFF;
/* button shadow */

box-shadow: 0px 1px 4px rgba(51, 51, 51, 0.25);
border-radius: 20px;


 }


